@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Winona";
    font-weight: 700;
    font-display: swap;
    src: url("assets/Winona.woff2") format("woff2");
}

@font-face {
    font-family: "Alverata Bold";
    font-weight: 700;
    font-display: swap;
    src: url("assets/Alverata-Bold.woff2") format("woff2");
}

body {
    @apply bg-stone-950 text-stone-200 p-2;
}

h1 {
    @apply text-6xl text-red-600 border-b-4 border-double border-red-600 mb-2 pb-2;
    font-family: "Winona";
}

h2 {
    @apply text-3xl text-red-400 my-2;
    font-family: "Alverata Bold";
}

h3 {
    @apply text-green-600 my-2 text-center uppercase;
    font-family: "Alverata Bold";
}

b {
    @apply text-amber-500;
}

input[type="radio"] {
    @apply opacity-0 w-0;
}

input[type="radio"]+label {
    @apply bg-stone-700 rounded-md p-4 inline-block w-full text-center cursor-pointer border-2 border-transparent;
}

input[type="radio"]:checked+label {
    @apply bg-amber-700 rounded-md p-4;
}

input[type="radio"]:disabled+label {
    @apply bg-transparent border-stone-400 rounded-md p-4 text-stone-400;
}

table {
    @apply rounded-md text-center w-full;
}

thead {
    @apply border-b-2 border-red-600 font-bold;
}

td {
    @apply px-2 py-1;
}

td:nth-child(even) {
    @apply bg-stone-800;
}

.pseudo {
    content: "\200C";
}