@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Winona";
    font-weight: 700;
    font-display: swap;
    src: url("./src/assets/Winona.woff2") format("woff2");
}

@font-face {
    font-family: "Alverata Bold";
    font-weight: 700;
    font-display: swap;
    src: url("./src/assets/Alverata-Bold.woff2") format("woff2");
}

body {
    @apply bg-stone-950 text-stone-200 p-2;
}

h1 {
    @apply text-6xl text-red-600 border-b-4 border-double border-red-600;
    font-family: "Winona";
}

h2 {
    @apply text-3xl text-red-400;
    font-family: "Alverata Bold";
}

.pseudo {
    content: "\200C";
}